body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.containers {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.movies-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}