.sidebar {
    height: 100vh;
    position: fixed;
    z-index: 1;
    width: 0;
    transition: all ease 0.5s;
    top: 0;
    left: 0;
    bottom: 0;
    &.opened {
        width: 300px;
        background-color: black;
    }
}